/* (!!!Название должно состоять из точного названия компонента, обозначения module и разрешения(scss в д.с) - в компонент подключаем через import)  */
.player {
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0 10px;
    background-color: lightgray;
}