/* (стили для компонента TrackItem) */
/* (!!!Название должно состоять из точного названия компонента, обозначения module и разрешения(scss в д.с) - в компонент подключаем через import)  */

.track {
    margin: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
}